body, html{
    width: 100%;
    height: 100%;
}

.component {
    background-color: red;
}

* {
    font-family: "Mulish", sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

:root {
    --main-container-padding-app-review: 10px 600px;
    --main-container-backgroud-color-app-review: #d4f7f7;
    --main-container-transform-on-hover-app-review: scale(105%);
    --main-container-tansition-time-app-review: 0.2s;
    --card-container-padding-app-review: 10px;
    --card-container-background-color-app-review: rgb(82, 77, 77);
    --card-container-border-radius-app-review: 8px;
    --card-header-font-color-app-review: white;
    --card-header-font-size: 15px;
    --card-image-height-app-review: 400px;
    --card-image-top-bottom-padding-app-review: 10px;
    --card-image-border-radius-app-review: 10px;
    --card-title-font-color-app-review: white;
    --card-title-font-size-app-review: 20px;
    --card-width-app-review: 250px;
}

* {
    margin: 0px;
    padding: 0px;
}


.container{
    height: 100%;
    background-color: #efefef;
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.RoutesBar{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}
.movies-tvshow-cards-main-container {
    padding: var(--main-container-padding-app-review);
    font-family: "Inter" !important;
    background-color: var(--main-container-backgroud-color-app-review);
    //min-height: 100%;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container {
    background-color: var(--card-container-background-color-app-review);
    border-radius: var(--card-container-border-radius-app-review);
    padding: var(--card-container-padding-app-review);
    transition: var(--main-container-tansition-time-app-review) ease-in-out;
    cursor: pointer;
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container:hover {
    transform: var(--main-container-transform-on-hover-app-review);
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container
    .card-container {
    position: relative;
    width: var(--card-width-app-review);
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container
    .card-container
    .card-header-container {
    display: flex;
    justify-content: space-between;
    color: var(--card-header-font-color-app-review);
    font-size: var(--card-header-font-size);
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container
    .card-container
    .card-image-container {
    width: var(--card-width-app-review);
    height: var(--card-image-height-app-review);
    padding: var(--card-image-top-bottom-padding-app-review) 0px;
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container
    .card-container
    .card-image-container
    .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--card-image-border-radius-app-review);
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container
    .card-container
    .card-footer-container {
    width: var(--card-width-app-review);
}

.movies-tvshow-cards-main-container
    .movies-tvshow-cards-container
    .card-main-container
    .card-container
    .card-footer-container
    .card-title {
    width: var(--card-width-app-review);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--card-title-font-color-app-review);
    font-size: var(--card-title-font-size-app-review);
}

@media screen and (max-width: 2560px) {
    :root {
        --main-container-padding-app-review: 10px 500px;
        --card-image-height-app-review: 400px;
        --card-width-app-review: 250px;
        --card-title-font-size-app-review: 20px;
        --card-header-font-size: 15px;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        --main-container-padding-app-review: 10px 50px;
        --card-image-height-app-review: 300px;
        --card-width-app-review: 180px;
        --card-title-font-size-app-review: 18px;
        --card-header-font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --main-container-padding-app-review: 10px 40px;
        --card-title-font-size-app-review: 17px;
        --card-header-font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --main-container-padding-app-review: 10px 30px;
    }
}

@media screen and (max-width: 425px) {
    :root {
        --main-container-padding-app-review: 10px 10px;
        --card-image-height-app-review: 200px;
        --card-width-app-review: 130px;
        --card-title-font-size-app-review: 16px;
        --card-header-font-size: 12px;
    }
}

@media screen and (max-width: 280px) {
    :root {
        --main-container-padding-app-review: 10px 10px;
        --card-image-height-app-review: 130px;
        --card-width-app-review: 80px;
        --card-title-font-size-app-review: 13px;
        --card-header-font-size: 10px;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}
