.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 2px solid rgba(175, 175, 175, 0.8);
    align-items: center;
    background-color: rgb(248, 205, 124);
    height: 4rem;
    color: rgb(94, 67, 105) !important;
    button{
        color: #fff !important;
    }
    h2{
        color: #fff;
    }
}